h1 {color: aqua;
	font-family: "Comic Sans MS" sans-serif;
	font-size:60px; 
	text-align: center;}
p {color: white;
	font-size: 16px;
	font-family: arial;
	text-align:left;}
body{background: green;
	background-image: url("sysiphus.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment:fixed;}
a {font-size: 35px;}
ul {color:red;
	font-size:20px;
	font-family: arial;}